<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection, StructureMap" />
  </configSections>
  <connectionStrings>
    
  </connectionStrings>
  <appSettings>
    <add key="CacheTime" value="1" />
  </appSettings>
  <system.diagnostics>
    <trace useGlobalLock="false" autoflush="true" indentsize="0" />
    <sources>
      <source name="TRACER" switchValue="Error, Warning, Information">
        <listeners>
          <clear />
          <add name="eventLog" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Log\ServicoBennerlog.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime />
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Services" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="21474836471" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483641" maxArrayLength="163481" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="MessageSizeWeb" maxBufferSize="2147483641" maxReceivedMessageSize="2147483641" />
      </webHttpBinding>
      <netTcpBinding>
			  <binding name="portSharingBinding" portSharingEnabled="true"/>
		  </netTcpBinding>
    </bindings>
    
    <services>
      <service name="WCF_IOC.Services.Servicos.ProvinceService" behaviorConfiguration="ServiceBehaviour">
        <endpoint binding="basicHttpBinding" contract="WCF_IOC.Services.Interfaces.IProvinceService" />
        <endpoint binding="netTcpBinding" address="" bindingConfiguration="portSharingBinding" name="WCF_IOC.Services.Servicos.ProvinceService"
				  contract="WCF_IOC.Services.Interfaces.IProvinceService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""  name="MyServiceMexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:900/ProvinceService.svc" />
          </baseAddresses>
        </host>
      </service>

      <service name="WCF_IOC.Services.Servicos.CityService" behaviorConfiguration="ServiceBehaviour">
        <endpoint binding="basicHttpBinding" contract="WCF_IOC.Services.Interfaces.ICityService" />
        <endpoint binding="netTcpBinding" address="" bindingConfiguration="portSharingBinding" name="WCF_IOC.Services.Servicos.CityService"
				  contract="WCF_IOC.Services.Interfaces.ICityService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""  name="MyServiceMexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:900/CityService.svc" />
          </baseAddresses>
        </host>
      </service>

    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>