<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MessageSizeBasic" maxBufferSize="2147483647" maxReceivedMessageSize="21474836471">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                        maxArrayLength="163481" maxBytesPerRead="4096" maxNameTableCharCount="163841" />
                </binding>
                <binding name="BasicHttpBinding_ICityService" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IBeneficiarioService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="WCF_IOC.Services.Servicos.CityService" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
                <binding name="WCF_IOC.Services.Servicos.BeneficiarioService" />
            </netTcpBinding>
            <webHttpBinding>
                <binding name="MessageSizeWeb" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost/CityService.svc" binding="netTcpBinding"
                bindingConfiguration="WCF_IOC.Services.Servicos.CityService"
                contract="CityReference.ICityService" name="WCF_IOC.Services.Servicos.CityService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>