<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BennerSaude" connectionString="Data Source=CAB-SRV-DBX\DESENV;Initial Catalog=BSAUDE_DESENV;Integrated Security=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;User ID=portalweb;Password=portalweb;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
   
    </assemblyBinding>
  </runtime>
</configuration>