<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BennerSaude" connectionString="Data Source=CAB-SRV-DBX\DESENV;Initial Catalog=BSAUDE_DESENV;Integrated Security=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;User ID=portalweb;Password=portalweb;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="TRACER" switchValue="Error, Verbose, Information">
        <listeners>
          <clear />
          <add name="eventLog" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Log\ServicoBennerlog.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Cabesp.ServicosBenner.Services.Servicos.BeneficiarioService">
        <endpoint binding="basicHttpBinding" contract="Cabesp.ServicosBenner.Services.Interfaces.IBeneficiarioService" />
      </service>
      <service name="Cabesp.ServicosBenner.Services.Servicos.PrestadorService">
        <endpoint binding="basicHttpBinding" contract="Cabesp.ServicosBenner.Services.Interfaces.IPrestadorService" />
      </service>
      <service name="Cabesp.ServicosBenner.Services.Servicos.EstadoService">
        <endpoint binding="basicHttpBinding" contract="Cabesp.ServicosBenner.Services.Interfaces.IEstadoService" />
      </service>
      <service name="Cabesp.ServicosBenner.Services.Servicos.MunicipioService">
        <endpoint binding="basicHttpBinding" contract="Cabesp.ServicosBenner.Services.Interfaces.IMunicipioService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <!--<customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding />
          --><!-- Start change --><!--
          <httpTransport maxReceivedMessageSize="2097152"
                         maxBufferSize="2097152"
                         maxBufferPoolSize="2097152"/>
          --><!-- Stop change --><!--
        </binding>
      </customBinding>-->
     <basicHttpBinding>
        <binding name="MessageSizeBasic" maxBufferSize="2147483647" maxReceivedMessageSize="21474836471">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483641" maxArrayLength="163481" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="MessageSizeWeb" maxBufferSize="2147483641" maxReceivedMessageSize="2147483641" />
      </webHttpBinding>
    </bindings>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
